*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.calculator{
    height: 100dvh;
    font-size: 3em;
}

.calculator__screen{
    height: 32dvh;
    color: #EDF65F;
    font-family: sans-serif;
    background-color: #222222;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: auto;
}

.calculator__keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto); 
    justify-content: center;
    align-items: center;
    height: 65%;
    column-gap: 5px;
    padding: 0 3px;
}

button{
    color: #fff;
    font-size: 0.5em;
    height: 73px;
    width: 73px;
    background-color: #222222;
    border-radius: 50%;
    border: none;
    margin: auto;
    transition-property: background-color;
    transition-duration: 150ms;
}

.digit:active{
    background-color: #343434;
}

.calculator__keyboard__operators{
    background-color: #656D6F;
}

.calculator__keyboard__operators:active{
    background-color: #4e5556;
}

.calculator__keyboard__reset{
    background-color: #515659;
}

.calculator__keyboard__reset:active{
    background-color: #3d4143;
}

.calculator__keyboard__equalbtn{
    background-color: #F0FD67;
    color: #000;
}

.calculator__keyboard__equalbtn:active{
    background-color: #eef49b;
}