*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

body{
    background-color: #000;
}

.calculator{
    height: 100dvh;
    font-size: 3em;
    padding: 0 7px;
}

.calculator__screen{
    height: 32dvh;
    background-color: #222222;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: right;
    margin-bottom: 10px;
    color: #EDF65F;
    position: relative;
    align-content: flex-end;
    padding-right: 10px;
    font-family: sans-serif;
}

.calculator__keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 65%;
}

button{
    color: #fff;
    font-size: 0.5em;
    height: 42px;
    width: 47%;
    padding: 20px;
    background-color: #222222;
    border-radius: 50%;
    border: none;
    margin: auto;
}

button:active{
    position: relative;
    top: 2px;
}

.calculator__keyboard__operations{
    background-color: #656D6F;
}

.calculator__keyboard__reset{
    background-color: #515659;
}

.calculator__keyboard__equalbtn{
    background-color: #F0FD67;
    color: #000;
}